 :root {
   --bluePen: #558D96;
   --mainColor: #8BA588;
   --whitePen: #ffffff;
   --darkPen: #707070;
   --backWhite: #f2f2f2;
   --redPen: #FF6E6E;
   --primaryBtnRadius: 30px;
   --secondlyBtnRadius: 12px;
   --inputRadius: 12px;
   --sm-font: 8pt;

   --xs-font: 10pt;
   --md-font: 12pt;
   --lg-font: 14pt;
   --xl-font: 16pt;
   --xxl-font: 18pt;
   --dirRi: ltr;
 }


 body {
   padding: 0;
   margin: 0;
   color: var(--darkPen) !important;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 button {
   transition: all 0.3s ease-in !important;
 }

 .Toastify__toast,
 .Toastify__toast>div {
   font-family: var(--fontFamily) !important;
   border-radius: 12px !important;
   font-size: var(--xs-font) !important;
   text-align: var(--right);
 }